*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.6rem;
  font-family: "Archivo", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
}

.grid {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(219.36deg, #c11717 0%, #ff8a4c 100%);
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
