$heading-color: #ff5a1f;
$font-archivo: "Archivo", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-inter: "Inter", sans-serif;
$white: white;
$desc-color: #6b7280;
$background-primary: linear-gradient(219.36deg, #c11717 0%, #ff8a4c 100%);
